@import "https://fonts.googleapis.com/css?family=Amatic+SC";
@import "https://fonts.googleapis.com/css?family=PT+Sans+Narrow";
.truck-feed h1 {
  font-size: 6rem;
  font-weight: 900;
  text-align: center;
  background: white; }

.truckLogo {
  width: 7%;
  margin-left: 2%; }

nav {
  display: inline-block;
  width: 100%;
  font-family: "PT Sans Narrow", sans-serif;
  opacity: 0.7;
  height: 23vh;
  background: -webkit-linear-gradient(#F28164, #FBD283);
  border-bottom: 1px solid black; }

.navButton {
  float: right;
  text-decoration: none;
  font-size: 2rem;
  color: black;
  margin: 4vh 2% 0 0;
  border-right: black solid 1px;
  padding: 5px; }

.navButton:hover, .truckLogo:hover {
  transform: scale(1.1);
  cursor: url("https://d30y9cdsu7xlg0.cloudfront.net/png/2255-200.png"), auto; }

.container {
  background-image: url("http://d3d71ba2asa5oz.cloudfront.net/12018365/images/w793317%20-%20ceramica%20tiles__1.jpg");
  background-size: inherit; }

.truck-feed h1 {
  font-size: 6rem;
  font-weight: 900;
  text-align: center;
  background: white;
  margin-bottom: 2vh; }

.truck-feed h2 {
  text-align: center;
  width: 40%;
  margin: -3vh 30% 3vh;
  background: white;
  font-size: 1.6rem;
  padding: 5vh 1% 1vh 1%; }

ol {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 13%;
  font-size: 1.4rem;
  font-family: "PT Sans Narrow", sans-serif; }

li {
  width: 33%;
  padding: 4vh .2%;
  margin-right: 4%;
  background-color: #F5F5F5;
  margin-bottom: 3vh;
  opacity: .7;
  border: 1px solid black;
  text-align: center; }

.individual-truck p {
  line-height: .2;
  font-weight: 100;
  text-align: left;
  margin-left: 17%; }

.individual-truck p span {
  font-weight: 900; }

.individual-truck img {
  width: 70%;
  height: 32vh; }

#votes {
  display: initial;
  font-weight: 900;
  margin-left: 70%;
  font-family: "Amatic SC", cursive; }

#numberVotes {
  width: 5%;
  font-weight: 900;
  font-family: "Amatic SC", cursive; }

.backButton {
  float: right;
  text-decoration: none;
  font-size: 2rem;
  color: black;
  margin: 4vh 2% 0 0;
  padding: 5px; }

.backButton:hover {
  transform: scale(1.1);
  cursor: url("https://d30y9cdsu7xlg0.cloudfront.net/png/2255-200.png"), auto; }

.single-truck {
  text-align: center; }
  .single-truck .single-truck-name {
    background: white;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 4rem;
    font-family: "Amatic SC", cursive; }
  .single-truck .single-truck-photo {
    width: 85%;
    height: auto;
    overflow: hidden; }
  .single-truck .single-truck-container {
    padding: 3%;
    background: #F5F5F5;
    margin: 0 auto;
    width: 60%;
    opacity: 0.7;
    border: 1px solid black; }
    .single-truck .single-truck-container .single-truck-copy {
      position: relative;
      font-size: 1.3rem;
      line-height: 0.2;
      text-align: left;
      margin-left: 7%; }
      .single-truck .single-truck-container .single-truck-copy span {
        font-weight: bold; }
      .single-truck .single-truck-container .single-truck-copy .single-truck-yelp {
        position: absolute;
        right: 5%;
        top: 80%;
        text-decoration: none;
        color: #C21613;
        font-size: 2rem;
        font-weight: bold;
        margin-right: 7%; }
      .single-truck .single-truck-container .single-truck-copy .single-truck-yelp:hover {
        text-decoration: underline;
        transform: scale(1.2);
        cursor: url("https://d30y9cdsu7xlg0.cloudfront.net/png/2255-200.png"), auto; }
  .single-truck .likeBtn {
    position: absolute;
    right: 5%;
    top: 80%;
    font-size: 2rem; }

.login-container {
  background: #F5F5F5;
  opacity: .7;
  width: 50%;
  margin-left: 20%;
  border: 1px black solid;
  padding: 3vh 5%;
  margin-top: 4vh; }

.login-container h1 {
  font-size: 4rem;
  text-align: center;
  margin: 0; }

.user-login {
  border: none;
  background: #F9C89F;
  padding: 1vh 11%;
  font-size: 1.2rem;
  margin-left: 35%; }

.new-login {
  border: none;
  background: #F9C89F;
  padding: 1vh 5%;
  margin-left: 35%; }

.login-container input {
  height: 5vh;
  font-size: 1.2rem;
  text-align: center; }

.user-name, .new-username {
  width: 45%; }

.user-password, .new-password {
  width: 45%; }

.login-container p {
  text-align: center;
  font-family: "PT Sans Narrow", sans-serif; }

footer {
  width: 100%;
  font-family: "PT Sans Narrow", sans-serif;
  opacity: 0.7;
  height: 15vh;
  background: -webkit-linear-gradient(#F28164, #FBD283);
  border-top: 1px solid black;
  text-align: center;
  padding-top: 2%;
  margin-top: 10%; }
  footer .copyright {
    display: inline-block;
    vertical-align: bottom;
    font-size: 1.1rem; }
  footer a {
    text-decoration: none; }
  footer .tiy-logo {
    width: 4%;
    margin-left: 1%; }

.newTruck {
  width: 70%;
  margin: 15%;
  background: #F5F5F5;
  opacity: .7;
  border: 1px black solid;
  padding: 3vh 5%;
  margin-top: 4vh; }

.nameTruck, .cuisine, .signature, .description {
  width: 45%;
  height: 6vh;
  display: inherit;
  margin-left: 27.5%;
  margin-bottom: 2vh;
  border: none; }

.submit {
  border: none;
  background: #F9C89F;
  padding: 1vh 5%;
  margin-left: 85%; }

.newTruck h1 {
  font-size: 4rem;
  text-align: center;
  margin: 0; }

@media (max-width: 480px) {
  .backButton,
  .navButton {
    font-size: 1.3rem; }

  .truck-feed h1 {
    font-size: 4rem; }

  .truck-feed h2 {
    font-size: 1.5rem; }

  ol {
    display: block;
    font-size: 1.2rem;
    margin-left: 2%; }

  li {
    width: 81%; }

  #votes {
    display: initial;
    font-weight: 900;
    margin-left: 70%;
    font-family: "Amatic SC", cursive; }

  #numberVotes {
    width: 5%;
    font-weight: 900;
    font-family: "Amatic SC", cursive; }

  footer .copyright {
    vertical-align: inherit; }

  .single-truck .single-truck-container {
    width: 85%; }
    .single-truck .single-truck-container .single-truck-copy {
      font-size: 1.2rem; } }
h1 {
  font-family: "Amatic SC", cursive; }

h2 {
  font-family: "PT Sans Narrow", sans-serif; }

/*# sourceMappingURL=main.css.map */
