.single-truck {
    text-align: center;

    .single-truck-name {
        background: white;
        text-align: center;
        font-weight: bold;
        display: inline-block;;
        font-size: 4rem;
        font-family: $header-font;
    }

    .single-truck-photo {
        width: 85%;
        height: auto;
        overflow: hidden;
    }

    .single-truck-container {
        padding: 3%;
        background: #F5F5F5;
        margin: 0 auto;
        width: 60%;
        opacity: 0.7;
        border: 1px solid black;
        .single-truck-copy {
            position: relative;
            font-size: 1.3rem;
            line-height: 0.2;
            text-align: left;
            margin-left: 7%;
            span {
                font-weight: bold;
            }


            .single-truck-yelp {
                position: absolute;
                right: 5%;
                top: 80%;
                text-decoration: none;
                color: #C21613;
                font-size: 2rem;
                font-weight: bold;
                margin-right: 7%;
                font-size: 2rem;
                position: relative;
                bottom: 7vh;
            }

            .single-truck-yelp:hover {
                text-decoration: underline;
                transform: scale(1.2);
                cursor: url('https://d30y9cdsu7xlg0.cloudfront.net/png/2255-200.png'), auto;
            }
        }
    }

    .likeBtn {
      position: absolute;
      right: 5%;
      top: 80%;
      font-size: 2rem;
    }
}
