// google fonts

@import 'https://fonts.googleapis.com/css?family=Amatic+SC';
@import 'https://fonts.googleapis.com/css?family=PT+Sans+Narrow';

$header-font: 'Amatic SC', cursive;
$copy-font: 'PT Sans Narrow', sans-serif;


// colors

// (tomato orange)
$primary-color: #F76242;

// (white smoke//gray)
$secondary-color: #F5F5F5;

// (cherokee//light yellow)
$tertiary-color: #FBD283;


// All partial Files
@import 'navDesign';
@import 'container';
@import 'truckFeed';
@import 'navSingleDesign';
@import 'singleTruck';
@import 'login';
@import 'footer';
@import 'addtruck';
@import 'mediaquery';
